.Level1 {
    background: url(img/level-1-bg.jpg)no-repeat center;
    background-size: contain;
}

.f-bg {
    background: url(img/ob.png)no-repeat;
    background-size: contain;
}

.Level1 .app-container {
    cursor: url('img/cursor.png'), pointer;
}