.StartPage {
    background: #FFFF99;
}
.start-bg-left {
    background: url(img/start-bg-left.svg)no-repeat left center;
    background-size: contain;
}
.start-bg-right {
    background: url(img/start-bg-right.svg)no-repeat right center;
    background-size: contain;
}
.start-bg-center {
    background: url(img/start-bg-center.png)no-repeat;
    background-size: 73%;
    background-position-x: 50%;
}
.start-content-top {
    display: flex;
    align-items: center;
    color: #808284;
}

.start-content-top span {
    display: inline-block;
    font-family: 'Avant';
    font-size: 3.2em;
}

.start-content-top img {
    width: 4em;
    margin: 0 0 0 4em;
}

.start-content {
    width: 28%;
    position: absolute;
    left: 56.3%;
    top: 14%;
}
.start-content h1 {
    font-size: 5.3em;
    font-family: 'Avant';
}

.start-content p {
    color: #808284;
    padding: 2em 0;
    line-height: 3.1em;
}

.start-content p > span {
    font-size: 2.1em;
}
.start-content p a {
    color: #FF3300;
    text-decoration: none;
}
.start-content p a:hover {
    color: #FF3300;
    text-decoration: underline;
}
.start-content .app-btn {
    cursor: pointer;
    background: #FF3300;
    display: inline-block;
    color: #fff;
    padding: 1.5em 13em;
    transition: .3s ease;
}
.start-content .app-btn:hover {
    background: #000;
}
.start-content .app-btn > span {
    font-size: 3.2em;
    font-family: 'Avant';
}