@font-face {
  font-family: 'Avant';
  src:  url(fonts/ITC\ Avant\ Garde\ Gothic\ Demi.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  font-family: 'Arial';
  position: relative;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.App.amobile {
  position: inherit;
}
.app-container {
  position: relative;
  height: 95em;
  width: 169em;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.StartPage, .Level1 {
  display: none;
}

.start .StartPage, .level-1 .Level1 {
  display: block;
}

@media screen and (max-width: 767px) {
  footer {
      padding: 0;
      margin: 0;
  }
}