.level3{
    background: url(../img/level-3-bg.png)no-repeat center;
    background-size: contain;
    display: none;

    .app-container {
        cursor: none;
    }

    .f-bg {
        background: url(../img/ob-3.png)no-repeat;
        background-size: contain;
    }

    #search-6 {
        position: absolute;
        width: 7.55em;
        top: 53%;
        left: 59%;
        &.searched {
            filter: drop-shadow(0 0 7px #FFF);
            z-index: 200;
        }
    }

    #search-7 {
        position: absolute;
        left: 47.3%;
        top: 18.3%;
        width: 7em;
        &.searched {
            filter: drop-shadow(0 0 7px #FFF);
            z-index: 200;
        }
    }

    #boombox-6 {
        z-index: 200;
        position: absolute;
        right: 0;
        top: 8%;
        width: 26em;
    }
    #boombox-7 {
        display: none;
        z-index: 200;
        position: absolute;
        right: 0;
        top: 8%;
        width: 26em;
    }
    #boombox-8 {
        display: none;
        z-index: 200;
        position: absolute;
        width: 27.9em;
        right: -1em;
        top: 6.2em;
    }
}