.level2{
    background: url(../img/level-2-bg.png)no-repeat center;
    background-size: contain;
    display: none;

    .app-container {
        cursor: none;
    }

    .f-bg {
        background: url(../img/ob.png)no-repeat;
        background-size: contain;
    }

    #search-2 {
        position: absolute;
        width: 7.55em;
        top: 46%;
        left: 21%;
        &.searched {
            filter: drop-shadow(0 0 7px #FFF);
            z-index: 200;
        }
    }
}