.level4{
    background: url(../img/level-4-bg.png)no-repeat center;
    background-size: contain;
    display: none;

    .app-container {
        cursor: none;
    }

    .f-bg {
        background: url(../img/ob-4.png)no-repeat;
        background-size: contain;
    }

    #search-8 {
        position: absolute;
        width: 5em;
        top: 17.9%;
        left: 55.8%;
        &.searched {
            filter: drop-shadow(0 0 7px #FFF);
            z-index: 200;
        }
    }

    #search-9 {
        position: absolute;
        left: 27.8%;
        top: 68%;
        width: 4em;
        &.searched {
            filter: drop-shadow(0 0 7px #FFF);
            z-index: 200;
        }
    }

    #boombox-8 {
        width: 28em;
        top: 4.4em;
        position: absolute;
        right: 0;
    }
    
    #boombox-9 {
        z-index: 200;
        display: none;
        right: 0;
        position: absolute;
        width: 28em;
        top: 4.4em;
    }
    #boombox-10 {
        z-index: 200;
        display: none;
        right: 0;
        position: absolute;
        width: 28em;
        top: 4.4em;
    }
}